html, body{
 margin:10px;
 padding:10px;
 border:10px;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 font-family: 'Ubuntu', sans-serif;
 font-size: 2vh;
}

body {
    align-items: center;
    background-color: gray;
}

h1 {
    text-align: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.5em;
    height: 75px;
}

#game-display {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%;
    background-color: #aa884d;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 2px 1px 1px #3c522f;
}

.displayed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 85%;
    background-color: #438acc;
    box-shadow: 4px 2px 1px 1px #3c522f;
}

#scoreboard {
}

#round-desc {
}

#choice-btns {
}

button {
    width: 75%;
    border: none;
    margin: .5vw;
    font-size: 2vh;
    border-radius: 0px;
    box-shadow: 3px 2px grey;
}

#ng-div {
    display: flex;
    flex-direction: column;
    height: 20%;
}
