/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body{
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 font-family: 'Ubuntu', sans-serif;
}

body {
    align-items: center;
    background-color: gray;
}

h1 {
    text-align: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5em;
    height: 150px;
}

#game-display {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 75%;
    
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.displayed {
    margin: 3px;
    padding: 3px;
    
}

#ng-div {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 20%;
}
